/* Code for flip-card effect adapted from:
https://www.w3schools.com/howto/howto_css_flip_card.asp
*/


.card {
    background-color: transparent;
    width: 300px;
    height: 480px;
    border: 1px solid #acaaaa;
    border-radius: 5px;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .card-front {
    background-color: #f7f4f4;
    color: #242323;
  }
  
  /* Style the back side */
  .card-back {
    background-color: #f7f4f4;
    color: #242323;
    transform: rotateY(180deg);
  }

  .card-img {
    width: 90%;
  }